.HelperBar {
	background: rgb(255, 255, 255);
	width: 100%;
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
	-webkit-box-pack: center;
	justify-content: center;

	> div {
		box-sizing: border-box;
		display: flex;
		flex-direction: row;
		max-width: 1248px;
		margin: 0px auto;
	}
}

.InnerBar {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 40px;
	min-width: 320px;
	width: 100%;

	> span {
		font-size: 10px;
		font-weight: 700;
		letter-spacing: 0.5px;
		line-height: 12px;
		text-transform: uppercase;
		color: rgb(124, 124, 124);
		margin-top: 1px;
	}
}

.views {
	display: flex;
	margin-left: 12px;

	> button {
		outline: none;
		-webkit-box-align: center;
		align-items: center;
		display: flex;
		position: relative;
		background: transparent;
		border: none;
		color: inherit;
		cursor: pointer;
		padding: initial;

		> svg {
			fill: rgb(0, 121, 211);
			height: 20px;
			width: 20px;
		}
	}
}

.sorts {
	-webkit-box-align: center;
	align-items: center;
	cursor: pointer;
	display: flex;
	margin: 7px 0;
	padding: 0px 16px;
}
