
html {
  height: 100%;
  width: 100%;
  display: flex;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif, "Microsoft YaHei", "微软雅黑";
  display: flex;
  flex: 1;
  background-color: rgb(218, 224, 230);
}

.flex {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
}



#root {
  flex: 1;
}

.Title{
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  margin: 20px 0;
}

.Description {
  font-family: Noto Sans,sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #929ba0;
}

.BottomText {
  font-family: Noto Sans,sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  margin-top: 16px;
  // margin-bottom: 20px;
}

.ant-message  {
  display: block; 
  div{
    display: block; 
  }
}

@media (max-width: 480px) {
  .hide-sm{
    display: none;
  }
}

.ReactWidth{
  @media (min-width: 1200px) {
    width: 70%;
  }
  @media (min-width: 960px) and (max-width: 1200px) {
    width:calc(100% - 3em);
  }
  @media (max-width: 960px) and (min-width: 540px) {
    width: calc(100% - 3em);
  }
  @media (max-width: 540px) {
    width: 100%;
  }
}

.ObviousLink{
  font-size: 14px;
  font-weight: 700;
  color: rgb(28, 28, 28);
  display: inline;
  line-height: 24px;
  vertical-align: baseline;
  text-decoration: none;
}